.btn:hover {
  color: var(--bs-body-bg);
  background-color: #824734;
  border-color: #824734;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: #dddddd !important;
  border-color: rgb(255,255,255) !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #98523c;
  border-color: #98523c;
  box-shadow: 0px 10px 15px rgba(157,157,157,0.4);
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  border-radius: 0;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #fed136;
  --bs-btn-border-color: #fed136;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fed854;
  --bs-btn-hover-border-color: #fed64a;
  --bs-btn-focus-shadow-rgb: 216, 178, 46;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #feda5e;
  --bs-btn-active-border-color: #fed64a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fed136;
  --bs-btn-disabled-border-color: #fed136;
}

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.btn {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.btn-primary {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: #fff;
}

.btn-primary.moura:active, .btn-primary.moura:focus {
  box-shadow: 0 0 0 .2rem rgba(152,82,60,0.6) !important;
}

::selection {
  background: #dddddd;
  text-shadow: none;
}

.moura {
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(25,135,84,0.6) !important;
}

.btn-primary.arcos:active, .btn-primary.arcos:focus {
  box-shadow: 0 0 0 .2rem rgba(19,20,22,0.6) !important;
}

.btn-primary.portugal:active, .btn-primary.portugal:focus {
  box-shadow: 0 0 0 .2rem rgba(186,186,186,0.6) !important;
}

.btn-primary {
  color: #fff;
  background-color: #98523c;
  border-color: #98523c;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #ffffff !important;
  border-color: var(--bs-success) !important;
  color: var(--bs-success) !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover.moura {
  background-color: #824734 !important;
  border-color: #98523c !important;
  color: #ffffff !important;
}

.btn-primary.portugal:active, .btn-primary.portugal:focus, .btn-primary.portugal:hover {
  background-color: #bababa !important;
  border-color: #bababa !important;
  color: #ffffff !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary.focus, .btn-primary.portugal:focus {
  box-shadow: 0 0 0 0 #707070!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

* {
  outline: none;
}

* {
  /*box-sizing: inherit;*/
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

