a {
  border: none;
}

* {
  outline: none;
}

* {
  /*box-sizing: inherit;*/
}

.portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(152, 82, 60, 0.8);
}

* {
  box-sizing: border-box;
}

.portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(152, 82, 60, 0.8);
}

a:hover {
  color: #000000;
}

a {
  color: #131416;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

