.btn:hover {
  color: var(--bs-body-bg);
  background-color: #824734;
  border-color: #824734;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: #dddddd !important;
  border-color: rgb(255,255,255) !important;
}

.border-light {
  --bs-border-opacity: 1;
  border-color: #98523c;
}

.inicio-span:hover {
  background-color: #98523c !important;
  color: #ffffff;
}

.filter1-span:hover {
  background-color: #98523c !important;
  color: #ffffff;
}

.filter2-span:hover {
  background-color: #131416 !important;
  color: #ffffff;
}

.filter3-span:hover {
  background-color: #bababa !important;
  color: #ffffff;
}

.filter1-span:after {
  background-color: #98523c !important;
  color: #ffffff;
}

.filter3-span.active {
  background-color: #98523c !important;
  color: #ffffff;
}

.inicio-span.active {
  background: #98523c !important;
  color: #ffffff;
}

.filter2-span.active {
  background: #98523c !important;
  color: #ffffff;
}

.filter3-span.active {
  background: #98523c !important;
  color: #ffffff;
}

@media (max-width: 575px) {
  .container-modal {
    padding-left: 17% !important;
  }
}

@media (min-width: 992px) {
  .container-modal {
    padding-left: 34% !important;
  }
}

@media (max-width: 360px) {
  .container-modal {
    padding-left: 6% !important;
  }
}

.portfolio-box {
  outline: none;
}

a:hover {
  color: #98523c;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.text-faded {
  color: rgba(255,255,255,.7);
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  color: #98523c;
  text-decoration: underline;
}

@media (min-width: 1035px) {
  .container-modal {
    padding-left: 38% !important;
  }
}

.form-control-moura:focus {
  color: #212529;
  background-color: #fff;
  border-color: #98523c !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(152,82,60,0.25) !important;
}

.form-control-magma:focus {
  color: #212529;
  background-color: #fff;
  border-color: #892b1f !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(137,43,31,0.25) !important;
}

