div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature1 {
  background-image: url("../../../assets/img/arcos/Arcos%20(capa%20principal).png");
}

div.jumbotron.hero-photography1 {
  background-image: url('../../../assets/img/portugal/PORTUGAL_Corretores.png');
}

div.jumbotron.hero-technology1 {
  background-image: url('../../../assets/img/stella/Capa%20principal%20Moura%20(logo).png');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

