#mainNav .navbar-brand {
  color: rgba(255,255,255,0.8);
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff !important;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
  }
}

.bg-dark {
  background-color: #98523c !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(25,135,84,0.6) !important;
}

.btn-contact:active, .btn-contact:focus, .btn-contact:hover {
  background-color: var(--bs-gray-100) !important;
  border-color: #98523c !important;
  color: #98523c !important;
}

.btn-primary {
  color: #fff;
  background-color: #98523c;
  border-color: #98523c;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: transparent;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(152,82,60,0.8);
}

@media (max-width: 768px) {
  .masthead-moura {
    background-image: url("../../../assets/img/stella/stella_fachada.jpg");
    height: 570px !important;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .masthead-arcos {
    background-image: url("../../../assets/img/arcos/Arcos-mobile.png");
    height: 570px !important;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .masthead-portugal {
    background-image: url("../../../assets/img/portugal/Portugal-mobile.png");
    height: 570px !important;
    background-size: cover;
  }
}

@media (min-width: 769px) {
  .masthead-arcos {
    background-image: url("../../../assets/img/arcos/magmaioveis_arcos_topo.png");
    height: 900px;
  }
}

@media (min-width: 769px) {
  .masthead-moura {
    background-image: url("../../../assets/img/stella/Capa%20principal%20Moura.svg");
    height: 900px;
  }
}

@media (min-width: 769px) {
  .masthead-portugal {
    background-image: url("../../../assets/img/portugal/magmaioveis_portugal_topo.png");
    height: 900px;
  }
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 transparent;
}

a:hover {
  color: #98523c;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: rgba(19,20,22,0.7);
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #868e96;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #868e96;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #98523c;
  --bs-secondary: #868e96;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 254, 209, 54;
  --bs-secondary-rgb: 134, 142, 150;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #98523c;
  --bs-link-hover-color: #743f2e;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.8);
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color: #98523c;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all .3s;
  color: #fff !important;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #ffffff !important;
  border-color: var(--bs-success) !important;
  color: var(--bs-success) !important;
}

.btn-primary.arcos:active, .btn-primary.arcos:focus, .btn-primary.arcos:hover {
  background-color: rgb(19,20,22) !important;
  border-color: #131416 !important;
  color: #ffffff !important;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ffffff !important;
}

.button-circle {
}

@media (max-width: 1200px) {
  .button-circle {
    margin-left: -8px !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .button-circle {
    margin-left: -17px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .button-circle {
    margin-left: -18px !important;
    width: 120px !important;
    height: 120px !important;
    font-size: 15px;
    padding-top: 30px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .button-circle {
    margin-left: -9px !important;
    width: 85px !important;
    height: 85px !important;
    font-size: 11px !important;
    padding-top: 18px !important;
  }
}

@media (max-width: 575px) {
  .button-circle {
    width: 90px !important;
    height: 90px !important;
    margin-left: -12px !important;
    font-size: 12px !important;
    padding-right: 12px !important;
    padding-top: 20px !important;
  }
}

.form-control:selection {
  border-color: #892b1f;
}

